@import "tailwindcss";
/* * {
  border: 1px solid red !important;
} */
body {
  font-family:
    var(--font-manrope),
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  max-width: 100%;
  margin: auto;
}
